/* Icon */

.icon {
  @include icon;
  border-bottom: none;
  position: relative;
  border: 1px solid red;
  width: 30px;
  background-image: url('../../images/taco.png');

  > .label {
    display: none;
  }
}
